
#FireHOL IP List
# this list contains RFC1918 as part of the bogons
lappend urls "https://iplists.firehol.org/files/firehol_level1.netset"
lappend urls "https://iplists.firehol.org/files/firehol_level2.netset"
lappend urls "https://iplists.firehol.org/files/firehol_level3.netset"

# ignore these values
lappend exclude "10.0.0.0/8"
lappend exclude "192.168.0.0/16"
lappend exclude "172.16.0.0/12"

#github.com
lappend exclude "140.82.112.4"
lappend exclude "140.82.112.3"
lappend exclude "140.82.114.3"

